# ------------------------------------------------
# MySQL (Hive Metastore)
# ------------------------------------------------
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=metastore
MYSQL_USER=hive
MYSQL_PASSWORD=hive
MYSQL_HOST=mysql

# ------------------------------------------------
# Hive
# ------------------------------------------------
SERVICE_NAME=metastore

# ------------------------------------------------
# Spark cluster
# ------------------------------------------------
SPARK_IMAGE=nyc-taxi-data-pipeline-spark-master
SPARK_MASTER=spark://spark-master:7077

SPARK_SQL_HIVE_EXEC_DYNAMIC_PARTITION=true
SPARK_SQL_HIVE_EXEC_DYNAMIC_PARTITION_MODE=nonstrict

SPARK_WORKER_CORES=8
SPARK_WORKER_MEMORY=6g

# ------------------------------------------------
# Docker (Airflow DockerOperator)
# ------------------------------------------------
DOCKER_NETWORK=nyc-taxi-data-pipeline
HOST_PROJECT_PATH=/absolute-path/nyc-taxi-data-pipeline

# ------------------------------------------------
# Python runtime
# ------------------------------------------------
PYTHONPATH=/app
PYTHONUNBUFFERED=1

# ------------------------------------------------
# dbt
# ------------------------------------------------
DBT_USER=evgeni

# ------------------------------------------------
# Airflow Postgres
# ------------------------------------------------
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_HOST=airflow-postgres

# ------------------------------------------------
# Airflow
# ------------------------------------------------
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@airflow-postgres:5432/airflow
AIRFLOW__WEBSERVER__SECRET_KEY=super-secret-airflow-key
AIRFLOW__CORE__EXECUTOR=LocalExecutor
